.navbar-prad{
    background-color: #fff;
    border-color: #e7e7e7;
    margin-bottom: 0px;
}

.navbar-nav > li.active {
    border-bottom: 1px solid #cecbcb;
    font-weight: bold;
}


.logoText {
    background: #000;
    color: #fff;
    padding: 12px 15px;
    width: 100px;
    border-radius: 87px;
    height: 100px;
}

.row > div {
    height: 100%;
    text-align: center;
    line-height: 100%;
}

.content{
    height: 100%;
    line-height: 100%;
    margin: auto;
    padding: 11.5vh 0;
}

.content > span {
    display: block;
}

span.col-text {
    line-height: 30px;
}
.fa-2x-pr{
    margin: auto;
    font-size: 2.5em;
}

.dance-image{
    background-image: url("/img/Dancing-48.png");
    height: 70px;
    margin: auto;
    width: 70px;
    background-size: contain;

}

.no-icon {
    font-size: 50px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-family: fantasy;
    line-height: 59px;
    color: white;
    margin: auto;
    background: #000;
}

.nav-title-prad{
    font-family: fantasy;
    font-size: 35px;
    float: left;
    text-align: center;
    padding-left: calc(40%);
    color: #000;
    letter-spacing: 3.5px;
    font-weight: bold;
    width: 50%;
}

.welcome-txt {
    color: black;
    height: 156px;
    font-size: 35px;
    line-height: 50px;
    margin: 100px 0px;
}

.prad-javascript{
    width: 70px;
    height: 70px;
    background: url("../img/javascript.png");
    background-repeat: no-repeat;
    margin: auto;
}