body{
    margin-top: 60px;
    background: #000;
}

.navbar-prad{
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-nav > li.active {
    border-bottom: 1px solid #cecbcb;
    font-weight: bold;
}

.container{
    color:white;
}

.skills-container{
    margin-top: 15%;
    width: 850px;
    margin-left: 20%;
    background: black;
    font-family: verdana;
    height: 300px;
    font-size: 48px;
}

.blink{
    animation: 1s cur infinite;
}

@keyframes cur {
    from,to{
        color: transparent;
    }

    50%{
        color: white;
    }
}

.logoText {
    background: #000;
    color: #fff;
    padding: 12px 15px;
    width: 100px;
    border-radius: 87px;
    height: 100px;
}

::selection {
    color: black;
    background: white;
}